.home {
    height: 100vh;
    width: 100vw;
}

.homeContent {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.homeTokenInvalid {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}