.home {
    height: 100vh;
    width: 100vw;
}

.homeContent {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.homeTokenInvalid {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movieOverview {
    min-height: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis;
    text-align: justify;
}

.loadingMovies {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}